<footer>
    <p>
        &copy;{{Appname}} {{version}} Todos los derechos reservados | 
        Desarrollado por <button class="btn btn-link p-1">{{author}}</button>
    </p>
</footer>
<!-- LOGICA JS (Bootstrap)  -->
<script src="/scripts/index.js" type="module">
    const description = {{description}}
</script>