footer#footer
    .social
        a(href="https://facebook.com") facebook
        a(href="https://instagram.com") instagram
        a(href="https://twitter.com") twitter
    p= `${autor} - v${version} | Todos los derechos reservados`
script(src="/scripts/index.js")