<footer>
    <div class="social">
    {{#each social}}
        <a class="fa-brand {{this.icon}}" href="{{this.link}}"></a>
    {{/each}}
    </div>
    <p>&copy;{{autor}} v{{version}} | Todos los derechos reservados</p>
</footer>