head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.5")
    title= nombre
    link(rel="styleshet" href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto")
    link(rel="stylesheets" href="/styles/default.css")