<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><%= nombre %></a>
    <button class="navbar-toggler navbar-toggler-icon"></button>
    <ul class="navbar-nav">
        <% menu.forEach(link => { %>
            <li>
                <a class="nav-link" href="<%= link %>"><%= link %></a>
            </li>
        <% }) %>
    </ul>
</nav>