<nav class="navbar navbar-dark bg-dark | sticky-top px-3">
    <a class="navbar-brand" href="#">{{Appname}}</a>
    <button 
        class="navbar-toggler navbar-toggler-icon"
        data-bs-toggle="offcanvas"
        data-bs-target=".navbar-nav"></button>
    <ul class="navbar-nav | offcanvas p-3 offcanvas-start bg-dark">
        <li class="d-flex justify-content-between">
            <strong class="h2 text-light">{{Appname}}</strong>
            <button class="btn-close bg-light" data-bs-dismiss="offcanvas"></button>
        </li>
        <li><a href="/home" class="nav-link">Inicio</a></li>
        <li><a href="/categories" class="nav-link">Categorias</a></li>
        <li><a href="/products" class="nav-link">Productos</a></li>
        <li><a href="/posts" class="nav-link">Publicaciones</a></li>
        <li><a href="/contact" class="nav-link">Contacto</a></li>
    </ul>
</nav>