{{#if message}}
<div class="alert alert-{{type}}" role="alert">
    <button class="btn-close float-end" data-bs-dismiss="alert"></button>
    <h2 class="h4">{{message}}</h2>
    <p>{{err}}</p>
</div>
{{/if}}

<form action="/signin" method="post" class="col-md-8 col-lg-6 col-xxl-4 rounded shadow my-3 mx-auto p-4">
    <fieldset>
        <label for="username">Ingrese su Nombre de usuario</label>
        <input class="form-control" 
            id="username" 
            name="username" 
            type="text"
            required>
    </fieldset>
    <fieldset>
        <label for="email">Ingrese su Correo electronico</label>
        <input class="form-control" 
            id="email" 
            name="email" 
            type="email"
            required>
    </fieldset>
    <fieldset>
        <label for="password">Escriba una contraseña</label>
        <input class="form-control" 
            id="password" 
            name="password" 
            type="password" 
            required>
    </fieldset>
    <fieldset>
        <label for="password-repeat">Vuelva a escribir la contraseña</label>
        <input class="form-control" 
            id="password-repeat" 
            name="password" 
            type="password"
            required>
    </fieldset>
    <a class="btn btn-success p-2" href="/login">Iniciar Sesion</a>
    <button class="btn btn-primary p-2" type="submit">Registrarse</button>
</form>