section
    header
        h3 #{user.name}
    p #{user.email}
    h4 Intereses
    ul 
        if (user.interests)
            each interest in user.interests
                li=interest
        else
            li No hay intereses agregados
    footer