html(lang="es")
    include ./partials/head.pug
    body
        include ./partials/nav.pug
        include ./partials/header.pug
        main
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptatibus consectetur error laboriosam voluptates a dolorum commodi quaerat ad, optio voluptas dicta quidem maiores hic est! Commodi maiores ratione esse?
        include ./partials/footer.pug