<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> header}}
    {{> navbar}}
    <main class="container">
        <h2>{{Page}}</h2>
        {{> error}}
        {{{body}}}
    </main>
    {{> footer}}
</body>
</html>