html(lang="es")
    // Importacion
    include ./partials/head.pug
    body
        include ./partials/nav.pug
        include ./partials/header.pug
        main
            // Variables
            h2=title
            p=description
            // Condicional
            if (posts)
                // Iteracion
                each post in posts
                    include ./layouts/post.pug
            else if (user)
                include ./layouts/user.pug
            else
                p no se encontraron Elementos
        include ./partials/footer.pug