<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pescar Shops</title>
</head>
<body>
    <header>
        <h1>Pescar Shops</h1>
        <p>Todo lo que necesita</p>
    </header>
    <footer>
        <p>&copy;Todos los derechos reservados</p>
    </footer>
</body>
</html>