<!DOCTYPE html>
<html lang="en">
{{!-- Importacion de plantillas parciales --}}
{{>head}}
<body>
    {{>nav}}
    {{>header}}
    <main class="container p-3">
        {{!-- Utilizacion de Variables --}}
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{!-- Implementacion de Condicionales --}}	
        {{#if user}}
            {{>user}}
        {{else if posts}}
            <section class="row">
            {{#each posts}}
                {{>post}}
            {{/each}}
            </section>
        {{else}}
            <p>No se encontraron elementos</p>
        {{/if}}
        {{!-- Iteracion --}}
    </main>
    {{>footer}}
</body>
</html>