*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
}

.GET{
    background-color: var(--bs-primary);
}
.POST{
    background-color: var(--bs-success);
}
.PUT{
    background-color: var(--bs-warning);
}
.DELETE{
    background-color: var(--bs-danger);
}